/* override for Bootstrap CSS */

body {
  padding-top: 51px;
}

.top-padding {
	margin-top: 10px;
}

.register-button-color {
	background-color: #f99b1f;
}

.register-button-color:hover {
	background-color: #c24704;
}

.sign-in-button-color {
	background-color: #c0d21a;

}

.sign-in-button-hover:hover {
	background-color:#7e8a11;
}


/* Navbar styling */
.navbar-color {
	/*background-color: #c0d21a;*/
}

.center {
	text-align: center;
}

.logo-margin-top {
	margin-top: 4px;
}

.logo-style-index {
	margin-bottom: 5px;
}

.logo {
	display: block;
	margin: 10px auto 0;
	max-width: 100%;
}


#org-holder {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.org {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2% 4%;
}

/* full width carousel */

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}